.login-user-form{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .login-user-inputs{
        width: 30vw;
        height: 35vh;
        border-radius: 11px;
        box-shadow:var(--box-shadow-color-default3);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        .user-input-div{
            display: flex;
            flex-direction: column;
            position: relative;
            input{
                cursor: pointer;
                
            }
        }
    }
}

.email-icon,.pass-icon{
    position: absolute;
    top: 26px;
    left: 5px;
    color: var(--icon-color-default);
}

.default-input-text{
    width: 15vw;
    min-width: 200px;
    min-height: 30px;
    padding: 0 25px 0px;
}

.default-input-submit{
    width: 100px;
    height: 35px;
    transition: 0.5s;
    cursor: pointer;
    &:hover{
        scale: 102%;
        background-color:var(--ui-navigation-default);
        border: none;
        border-radius: 2px;
        color: var(--text-color-white-default);
    }
}

@media (max-width: 768px){
    .login-user-inputs{
        min-width: 90%;
    }
    .default-input-text{
        width: 28vw;
        min-width: 190px;
    }
}